Source: kore
Maintainer: Joris Vink <joris@coders.se>
Section: net
Priority: extra
Build-Depends: build-essential, make, openssl (>= 1.0.0), libpq-dev (>= 9.0), python3.6-dev (>=3.6)
Standards-Version: 3.8.4

Package: kore
Architecture: any
Homepage: https://kore.io
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl (>= 1.0.0), libpq (>= 9.0), python3.6 (>=3.6)
Provides: kore
Description: Kore (https://kore.io) is an easy to use web application framework for writing scalable web APIs in C. Its main goals are security, scalability and allowing rapid development and deployment of such APIs.
